.movies {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 44px;
}

.movies__loader {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .movies {
        max-width: 708px;
        padding: 0 24px;
    }
}

@media screen and (max-width: 420px) {
    .movies {
        padding: 0 10px;
    }
}