.nav-promo {
    display: flex;
    gap: 10px;
    /* margin-top: 150px; */
    
}

.nav-promo__button {
    width: 96px;
    height: 36px;
    border-radius: 10px;
    background-color: #E8E8E8;
    border: 0;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 12px;
    line-height: 133%;
}

@media screen and (max-width: 768px) {
    .nav-promo {
        /* margin-top: 314px; */
    }
}

@media screen and (max-width: 420px) {
    .nav-promo {
        /* margin-top: 212px; */
        gap: 6px;
    }

    .nav-promo__button {
        width: 82px;
        height: 27px;
        font-size: 10px;
        line-height: 16px;
    }
}