.search {
    min-height: 222px;
}

.search__form {
    display: flex;
    padding: 80px 0 83px;
}

.search__input-box {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    height: 48px;
    border: 1.5px solid rgba(170, 170, 170, .2);
    border-radius: 50px;
    box-sizing: border-box;
    padding: 15px 7px 15px 22px;
}


.search__input {
    flex: 1 1 auto;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #A0A0A0;
    border: 0;
    outline: none;
    padding: 0;
}

.search__button {
    display: block;
    width: 34px;
    height: 34px;
    background-image: url(../../images/search.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-color: transparent;
    border: 0;
    padding: 0;
}

.search__checkbox {}

.search__line {
    border-top: 1px solid #AAAAAA;
    padding-bottom: 10px;
}